@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100); body { font-family: 'Roboto', sans-serif; } 


/*--------------------------------------------------------------
# Header / logo
--------------------------------------------------------------*/

#header {
  padding: 0 0;
}

@media (min-width:1280px){
  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F610C8;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
}

#header .logo img {
  max-height: 120px;
  padding: 10px;
}
/*--------------------------------------------------------------
# body
--------------------------------------------------------------*/


.col-lg-10 h2{
  margin-bottom: 30px;
  text-align: center;
}
/* .section-charte img {
height: 150px;
} */

@media screen and (min-width: 425px) {
    .section-title img{
      height: 33px;
    }   
  }
  @media screen and (min-width: 640px) {
    .section-title img{
      height: 50px;
    }   
}
.col-lg-10 h2{
  margin: 20px auto
}




.section-charte1 img{
height: 400px;
width: 100%;
}
/* .section-charte1 {
height: 400px;
background-image: url("../img/logo/logo-Charte-qualité.jpg"), url("../img/slide/index-3.jpg");
background-size: 15% 30%, 116% 100%;
background-position: 95% 50%, 145% 100%;
background-repeat: no-repeat, repeat-x;
} */



.charte-qualite {
height: 130px;
z-index: 1;
}


.index-3 {
position: relative;
z-index: -1;
}

h2{
margin-right: auto;
}













/* @media screen and (min-width: 370px) {
.section-title img{
  height: 28px;
}   
} */



/* @media screen AND (min-width:450px) {

.section-charte {
display:grid !important;
grid-template-columns: 1fr 10fr 1fr;
grid-template-rows: auto;
grid-template-areas: "logo2 titre empty";
}

.section-charte img {
grid-area: logo2;
margin-right: auto;
  }
h2{
  grid-area: titre;
  margin-right: auto;
}
.section-title img{
  margin-bottom: 20px;
  height: 33px;
}

.section-title h4 {
  text-align: left;
  margin: 50px;
}
}    */
  
  @media screen and (min-width: 640px) {
    .section-title img{
      height: 50px;
    }   
  }
  

.section-charte {
display: flex;
justify-content: space-between;
}

.section-title h4 {
  text-align: left;
  margin: 45px;
}
.section-title p {
  text-align: left;
  margin: 50px 0;
}



.section-title ul {
margin: 40px 0;
}

.section-title ul li {
  text-align: left;
  margin: 15px 0;
}

#blog .row {
display: flex;
justify-content: center;
}

/*************** footer **********************/

/* #footer img {
float: left;
max-height: 80px;
} */


@media screen AND (min-width: 768px) {
.d-md-flex{
    display: block !important;
}
.text-md-start {
    text-align: center !important;
}
}


@media screen AND (min-width: 930px) {
.d-md-flex{
    display:grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "empty copyr logo";
}

.text-md-start {
    text-align:center;
    grid-area: copyr;
    margin-left: auto;
    /* line-height: ; */
}
.pt-md-0 {
    grid-area: logo;
    margin-left: auto;
}
}

@media screen and (min-width: 992px){
footer .row {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
  }
  .col-lg-1{
    width: 36%;
    }
    .col-lg-2{
    width: 20%;
    }
    .col-lg-3{
    width: 23%;
    }
}




.footer-logo {
  float: left;
  max-height: 80px;
  padding: 10px;
}

.coordonnée {
  height: 45px;
  width: 45px;
}

footer a {
  color: var(--color-white);
}

@media screen and (max-width: 991px){
  #footer .container {
    max-width: 720px;
}
}
@media screen and (min-width: 1041px){
  #footer .container {
    width: 95%;
}
}

/* footer prenant en compte le logo en haut */

.town{
position: relative;
left: 50px;
}

#footer .footer-top .footer-contact {
margin-bottom: 0;
}

.footer-logo {
float:none;
padding: 0;
max-height: 170px;
}

#footer .footer-top .footer-contact p {
position: relative;
bottom: 40px;
}

#footer .footer-top {
padding: 0;
}

#footer .footer-top .footer-links {
margin: 50px 0;
}

#footer .footer-newsletter {
margin: 50px 0;
}
