@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100); body { font-family: 'Roboto', sans-serif; } 




/*************** main **********************/

@media (max-width: 991px){
  .breadcrumbs {
      margin-top: 65px;
  }
}

.portfolio-container{
  justify-content: center;
  align-self: start;
  height: 1000px;
}


@media screen and (min-width: 1053px){
  .portfolio-container{
    margin: 50px;
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: auto;
    grid-template-areas: 
      "air1 air2 air3"
      "air4 air5 air6";
  }
  #fi-card1{
    grid-area: air1;
  }
  #fi-card2{
    grid-area: air2;
  }
  #fi-cadr3{
    grid-area: air3;
  }
  #fi-card4{
    grid-area: air4;
  } 
  #fi-card5{
    grid-area: air5;
  } 
  #fi-card6{
    grid-area: air6;
  }
}

@media screen and (min-width: 1984px){
#responsive-laptop {
  height: 1050px!important;
}
}

/* element.style{
    position:relative;
    left:0;
    top:0;
} */

.img-fluid {
  height: 440px;
  max-width: 107%;
}
#fi-card1,#fi-card2, #fi-card3, #fi-card4, #fi-card5, #fi-card6{
  position: relative !important;
  left: 0 !important;
  top:0 !important;
  height: 440px;
  width: 310px;

}



/* #fi-card.col-lg-4.col-md-6.portfolio-item.filter-app element-style{
  position: relative;
  left: 0;
  top:0;

} */


/*************** footer **********************/

/* #footer img {
  float: left;
  max-height: 80px;
} */

/* 
#footer .footer-top .footer-contact p a {
  color: rgba(255,255,255,0.7)
}
#footer .footer-top .footer-contact p a:hover {
  color: white;
}

@media screen AND (min-width: 768px) {
  .d-md-flex{
      display: block !important;
  }
  .text-md-start {
      text-align: center !important;
  }
}


@media screen AND (min-width: 930px) {
  .d-md-flex{
      display:grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "empty copyr logo";
  }

  .text-md-start {
      text-align:center;
      grid-area: copyr;
      margin-left: auto;
  }
  .pt-md-0 {
      grid-area: logo;
      margin-left: auto;
  }
}


@media screen and (min-width: 992px){
  footer .row {
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 90%;
  }
  .col-lg-1{
      width: 36%;
      }
      .col-lg-2{
      width: 20%;
      }
      .col-lg-3{
      width: 23%;
      }
  } */


/* footer prenant en compte le logo en haut */

/* .town{
  position: relative;
  left: 50px;
}

#footer .coordonnée{
  height: 50px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 0;
}

.footer-logo {
  float:none;
  padding: 0;
  max-height: 170px;
}

#footer .footer-top .footer-contact p {
  position: relative;
  bottom: 40px;
}

#footer .footer-top {
  padding: 0;
}

#footer .footer-top .footer-links {
  margin: 50px 0;
}

#footer .footer-newsletter {
  margin: 50px 0;
} */

/*************** footer **********************/

/* #footer img {
  float: left;
  max-height: 80px;
} */

@media screen AND (min-width: 768px) {
  .d-md-flex{
      display: block !important;
  }
  .text-md-start {
      text-align: center !important;
  }
}


@media screen AND (min-width: 930px) {
  .d-md-flex{
      display:grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "empty copyr logo";
  }

  .text-md-start {
      text-align:center;
      grid-area: copyr;
      margin-left: auto;
      /* line-height: ; */
  }
  .pt-md-0 {
      grid-area: logo;
      margin-left: auto;
  }
}

@media screen and (min-width: 992px){
footer .row {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
}
.col-lg-1{
  width: 33%;
}
.col-lg-2{
  width: 22%;
}
}


.footer-logo {
float: left;
max-height: 80px;
padding: 10px;
}

.coordonnée {
height: 45px;
width: 45px;
}

footer a {
color: var(--color-white);
}

@media screen and (max-width: 991px){
#footer .container {
  max-width: 720px;
}
}
@media screen and (min-width: 1041px){
#footer .container {
  width: 95%;
}
}


/* footer prenant en compte le logo en haut */

.town{
position: relative;
left: 50px;
}

#footer .footer-top .footer-contact {
margin-bottom: 0;
}

.footer-logo {
float:none;
padding: 0;
max-height: 170px;
}

#footer .footer-top .footer-contact p {
position: relative;
bottom: 40px;
}

#footer .footer-top {
padding: 0;
}

#footer .footer-top .footer-links {
margin: 50px 0;
}

#footer .footer-newsletter {
margin: 50px 0;
}
