@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100); body { font-family: 'Roboto', sans-serif; } 
/*************** main **********************/



main .row {
  display: flex;
  justify-content: center;
}

.col-lg-10 {
  width: 100%;
}

.section-title{
  text-align:left;
  padding: 0 50px;
}
.section-title p{
  text-align:left;
  padding-bottom: 30px;
}

h2{
  text-align: center;
}
.section-title1{
  padding: 50px;
}

main .row h4{
  padding: 20px;
}

main span{
  font-weight: 600;
}



/*************** footer **********************/


/* #footer img {
  float: left;
  max-height: 80px;
} */

@media screen AND (min-width: 768px) {
  .d-md-flex{
      display: block !important;
  }
  .text-md-start {
      text-align: center !important;
  }
}


@media screen AND (min-width: 930px) {
  .d-md-flex{
      display:grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "empty copyr logo";
  }

  .text-md-start {
      text-align:center;
      grid-area: copyr;
      margin-left: auto;
      /* line-height: ; */
  }
  .pt-md-0 {
      grid-area: logo;
      margin-left: auto;
  }
}

@media screen and (min-width: 992px){
  footer .row {
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 90%;
  }
  .col-lg-1{
      width: 33%;
    }
    .col-lg-2{
      width: 22%;
    }
  }


/* footer prenant en compte le logo en haut */

.town{
  position: relative;
  left: 50px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 0;
}

.footer-logo {
  float:none;
  padding: 0;
  max-height: 170px;
}

#footer .footer-top .footer-contact p {
  position: relative;
  bottom: 40px;
}

#footer .footer-top {
  padding: 0;
}

#footer .footer-top .footer-links {
  margin: 50px 0;
}

#footer .footer-newsletter {
  margin: 50px 0;
}
